{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Logowanie{% endblock %}

{% block content %}
  <div class="row mt-5">
  <div class="col">
    <h1 class="display-4">Logowanie</h1>
  </div>
  </div>

  {% if form.errors %}
    <div class="row">
      <div class="col">
        <div class="alert alert-warning" role="alert">
          Nazwa użytkownika lub hasło są nieprawidłowe. Spróbuj ponownie.
        </div>
      </div>
    </div>
  {% else %}
  <div class="row">
    <div class="col">
      <p>Wypełnij aby zalogować się:</p>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col">
      <form action="{% url 'account:user_login' %}" method="post">
        <div class="form-group row">
          <label class="col-2 col-sm-1 col-form-label">Login</label>
          <div class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            {{ form.username|add_class:"form-control" }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-sm-1 col-form-label">Hasło</label>
          <div class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            {{ form.password|add_class:"form-control" }}
          </div>
        </div>
        <div class="form-group row">
        {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          <div class="col-2 col-sm-1 mt-2">
            <button type="submit" class="btn btn-primary">Zaloguj się</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}