{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  Fakturka
{% endblock %}


{% block content %}

<div class="row mt-5">
  {% if messages %}
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          <strong>{{ message|safe }}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="col-12 col-md-12 col-xl-10 offset-xl-1">
    <form action="{% url 'invoice:new_invoice' %}" method="post">{% csrf_token %}

      <div class="form-row">
        <div class="form-group col-auto">
          <label class="col-form-label-sm">{{form_invoice.invoice_number.label}}</label>
          {{form_invoice.invoice_number|add_class:"form-control form-control-sm"}}
        </div>
        <div class="form-group col-auto ml-2">
          <label class="col-form-label-sm">{{form_invoice.invoice_date.label}}</label>
          {{form_invoice.invoice_date|add_class:"form-control form-control-sm datepicker_city"}}
        </div>
        <div class="form-group col-auto ml-2">
          <label class="col-form-label-sm">{{form_invoice.invoice_sale_date.label}}</label>
          {{form_invoice.invoice_sale_date|add_class:"form-control form-control-sm datepicker_short"}}
        </div>
        <div class="form-group col-auto ml-2">
          <label class="col-form-label-sm">{{form_invoice.invoice_payment_date.label}}</label>
          {{form_invoice.invoice_payment_date|add_class:"form-control form-control-sm datepicker"}}
        </div>
      </div>

      <hr>

      <div class="form-row">
        <div class="form-group col-12 col-sm-10 col-md-6 col-lg-5 col-xl-5">
          <label>{{form_invoice.invoice_s_fk.label}}</label>
          {{form_invoice.invoice_s_fk|add_class:"form-control form-control-sm"}}
        </div>
        <div class="form-group col-12 col-sm-10 col-md-6 col-lg-5 col-xl-5">
          <label>{{form_invoice.invoice_b_fk.label}}</label>
          {{form_invoice.invoice_b_fk|add_class:"form-control form-control-sm"}}
        </div>
      </div>

      <hr>

      <div id="items_row">
      {{ formset_item.management_form }}
      {% for form in formset_item.forms %}

        {% if forloop.first %}
          <div class="form-row mt-2">
            <div class="form-group d-none d-md-block col-12 col-sm-12 col-md-5 col-xl-6"><label>{{form.product.label}}</label></div>
            <div class="w-100 d-none d-sm-block d-md-none"></div>
            <div class="form-group d-none d-md-block col-sm-3 col-md-2 col-xl-1"><label>{{form.quantity.label}}</label></div>
            <div class="form-group d-none d-md-block col-6 col-sm-3 col-md-2 col-xl-1"><label>{{form.price.label}}</label></div>
            <div class="form-group d-none d-md-block col-6 col-sm-4 col-md-2"><label>{{form.unit.label}}</label></div>
          </div>
        {% endif %}

        <div class="form-row item_row">
          {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
          <div class="form-group col-12 col-sm-12 col-md-5 col-xl-6">
            <label class="d-md-none">{{form.product.label}}</label>
            {{ form.product|add_class:"form-control form-control-sm" }}
          </div>

          <div class="w-100 d-none d-sm-block d-md-none"></div>

          <div class="form-group col-6 col-sm-3 col-md-2 col-xl-1">
            <label class="d-md-none">{{form.quantity.label}}</label>
            {{ form.quantity|add_class:"form-control form-control-sm" }}
          </div>
          <div class="form-group col-6 col-sm-3 col-md-2 col-xl-1">
            <label class="d-md-none">{{form.price.label}}</label>
            {{ form.price|add_class:"form-control form-control-sm" }}
          </div>
          <div class="form-group col-6 col-sm-4 col-md-2">
            <label class="d-md-none">{{form.unit.label}}</label>
            {{ form.unit|add_class:"form-control form-control-sm" }}
          </div>
          <div class="form-group col-6 col-sm-1 col-md-1">
            <label class="d-md-none"><i class="far"></i></label>
            <div><button type="button" class="btn btn-sm btn-outline-danger remove_item">
              <i class="far fa-trash-alt"></i>
            </button></div>
          </div>
        </div>
        <!--end .item_row-->
      {% endfor %}
      </div>
      <!--end .items_row-->

      <div class="form-row">
        <div class="form-group col-6 col-sm-4 col-md-2">
          <a id="add_product" class="btn btn-outline-secondary btn-sm mb-2 mt-2" href="#" role="button"><i class="fas fa-plus"></i></a>
        </div>

      </div>

      <hr>

      <div class="form-row">
        <div class="form-group col-6 col-sm-5 col-md-3">
          <label class="col-form-label-sm">{{form_invoice.payment.label}}</label>
          {{form_invoice.payment|add_class:"form-control form-control-sm"}}
        </div>
        <div class="form-group col-6 col-sm-5 offset-sm-1 col-md-3 offset-md-2">
          <label class="col-form-label-sm">{{form_invoice.sign.label}}</label>
          {{form_invoice.sign|add_class:"form-control form-control-sm"}}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-10 col-md-8">
          <label class="col-form-label-sm">{{form_invoice.comments.label}}</label>
          {{form_invoice.comments|add_class:"form-control form-control-sm"}}
        </div>
      </div>

      <div class="form-row">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Zapisz</button>
        </div>
      </div>
    </form>

  </div>
</div>

<!--Buyer modal-->
<div class="modal fade" id="buyerModal" tabindex="-1" role="dialog" aria-labelledby="modalB" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalB">Nowy nabywca</h5>
        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'invoice:new_buyer' %}" method="post">{% csrf_token %}
          {% for field in form_buyer %}
          <div class="form-group row">
            <label class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4 col-form-label">{{field.label}}</label>
            <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8">
              {{ field|add_class:"form-control form-control-sm" }}
            </div>
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary">Zapisz</button>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block skrypty %}
  $('#id_comments').val('Faktura za miesiąc {% now "F Y" %}.')
  // default value in sign field
  $('#id_sign').val('{{request.user.first_name}} {{request.user.last_name}}')
{% endblock %}

{% block js_script %}
  <script src="{% static 'invoice.js' %}"></script>
{% endblock %}