{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Nowa faktura{% endblock %}


{% block content %}

<div class="row mt-5">
  {% if messages %}
    <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-10">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          <strong>{{ message|safe }}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="col-12 col-lg-9 col-xl-10">
    <form action="{% url 'invoice:new_invoice' %}" method="post">{% csrf_token %}
      {% for field in form_invoice %}
      {% if field.label == 'Uwagi' %}
        <hr>
          {{ formset_item.management_form }}
          {% for form in formset_item.forms %}
          <div id="items_row">
            <div class="row mb-2 mt-2 item_row">
              <div class="col-12 col-sm-12 col-md-5">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="far fa-edit"></i>
                    </span>
                  </div>
                  {{ form.product|add_class:"form-control" }}
                </div>

              </div>
              <div class="col-6 col-sm-3 col-md-2">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <strong>+/-</strong>
                    </span>
                  </div>
                  {{ form.quantity|add_class:"form-control" }}
                </div>
              </div>
              <div class="col-6 col-sm-3 col-md-2">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fas fa-dollar-sign"></i>
                    </span>
                  </div>
                  {{ form.price|add_class:"form-control" }}
                </div>
              </div>
              <div class="col-6 col-sm-5 col-md-2">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <small>Jedn.</small>
                    </span>
                  </div>
                  {{ form.unit|add_class:"form-control" }}
                </div>
              </div>
              <div class="col-6 col-sm-1 col-md-1">
                  <button type="button" class="btn btn-outline-danger remove_item">
                    <i class="far fa-trash-alt"></i>
                  </button>
              </div>
            </div>
          <!--end .item_row-->
          </div>

        {% endfor %}
        <a id="add_product" class="btn btn-outline-secondary mb-2 mt-2" href="#" role="button"><i class="fas fa-plus"></i></a>
      {% endif %}
      <div class="form-group row">
        <label class="col-12 col-md-4 col-lg-3 col-xl-2 col-form-label">{{field.label}}</label>
        <div class="col-12 col-md-8 col-lg-7 col-xl-6">
          {{ field|add_class:"form-control" }}
        </div>
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Zapisz</button>
    </form>

  </div>
</div>

<!--Buyer modal-->
<div class="modal fade" id="buyerModal" tabindex="-1" role="dialog" aria-labelledby="modalB" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalB">Nowy nabywca</h5>
        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'invoice:new_buyer' %}" method="post">{% csrf_token %}
          {% for field in form_buyer %}
          <div class="form-group row">
            <label class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4 col-form-label">{{field.label}}</label>
            <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8">
              {{ field|add_class:"form-control" }}
            </div>
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary">Zapisz</button>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
  {% block skrypty %}

    $('#add_product').click(function(e) {
      e.preventDefault();
      // what is next item_set *number* -
      var item_rows = $('.item_row').length;
      // clone of last item_row
      var $itemClone = $('.item_row:last').clone(true);

      $('.remove_item').attr('disabled', true);
      $('#id_item_set-TOTAL_FORMS').val(item_rows+1);
      $itemClone.find('[name$="-product"]').attr('id', 'id_item_set-'+item_rows+'-product').attr('name', 'item_set-'+$('.item_row').length+'-product').val('');
      $itemClone.find('[name$="-quantity"]').attr('id', 'id_item_set-'+item_rows+'-quantity').attr('name', 'item_set-'+$('.item_row').length+'-quantity').val(1);
      $itemClone.find('[name$="-price"]').attr('id', 'id_item_set-'+item_rows+'-price').attr('name', 'item_set-'+$('.item_row').length+'-price').val('');
      $itemClone.find('[name$="-unit"]').attr('id', 'id_item_set-'+item_rows+'-unit').attr('name', 'item_set-'+$('.item_row').length+'-unit').val('');
      $itemClone.find('.remove_item').attr('disabled', false);

      $('#items_row').append($itemClone);
    });
    $('.remove_item').click(function(e){
      e.preventDefault();
      $('#id_item_set-TOTAL_FORMS').val($('.item_row').length-1);
      $(this).parents('.item_row').remove();
      $('.remove_item:last').attr('disabled', false);
    });

    // new buyer
    $('#id_invoice_b_fk').append($('<option>', {
      value: 'newBuyer',
      text: 'DODAJ NOWEGO NABYWCĘ'
    })).on('change', function(e) {
      e.preventDefault();
      var selectedOpt = $(this).find(':selected').val();
      if (selectedOpt === 'newBuyer') {
        $('#buyerModal').modal('show');
        $(this).val(0);
      }
    });


  {% endblock %}