<html>

<head>
  <link rel="stylesheet" href="../../static/pdf.css" type="text/css">
</head>

<body>

  <div class="header">
    <p>
      Faktura nr {{ invoice.invoice_number }}<br><br>
      Data wystawienia: {{ invoice.invoice_date}}<br>
      Data sprzedaży: {{ invoice.invoice_sale_date }}<br>
      Termin płatności: {{ invoice.invoice_payment_date|date:'Y-m-d' }}<br>
      Płatność: {{ invoice.payment }}
    </p>
  </div>

  <hr>

  <div class="sidesData">
    <div class="side">
        <p class="fontUp">Sprzedawca</p>
        <p>{{ invoice.invoice_s_fk.name }}</p>
        <p>{{ invoice.invoice_s_fk.adress }}<br>
          {{ invoice.invoice_s_fk.postal_code }}</p>
        <p>NIP {{ invoice.invoice_s_fk.nip }}</p>
        <p>{{ invoice.invoice_s_fk.bank_name }}<br>
          {{ invoice.invoice_s_fk.account_nr }}</p>
    </div>
    <div class="side">
        <p class="fontUp">Nabywca</p>
        <p>{{ invoice.invoice_b_fk.name }}</p>
        <p>{{ invoice.invoice_b_fk.adress }}<br>
          {{ invoice.invoice_b_fk.postal_code }}</p>
        <p>NIP {{ invoice.invoice_b_fk.nip }}</p>
    </div>
  </div>

  <div class="services">
    <table>
      <thead>
      <tr>
        <th class="LPColumn">Lp</th>
        <th class="textLeft">Nazwa</th>
        <th class="textRight">Ilość</th>
        <th class="textRight">Cena</th>
        <th class="textRight">Wartość</th>
      </tr>
      </thead>
      <tbody>
      {% for item in invoice.item_set.all %}
      <tr>
        <td class="LPColumn">{{ forloop.counter }}.</td>
        <td class="textLeft">{{ item.product }}</td>
        <td class="textRight">{{ item.quantity }} {{ item.unit }}</td>
        <td class="textRight">{{ item.price }}zł</td>
        <td class="textRight">
          {{ item.item_sum }}zł
        </td>
      </tr>
      {% endfor %}
      <tr class="withoutBorder">
        <td colspan="2"><td>
        <td class="textRight"><strong>Razem:</strong></td>
        <td class="textRight"><strong>{{ invoice.invoice_sum }}zł</strong></td>
      </tr>
      <tr class="withoutBorder">
        <td colspan="2"><td>
        <td class="textRight"><strong>Wartość:</strong></td>
        <td class="textRight"><strong>{{ invoice.invoice_sum }}PLN</strong></td>
      </tr>
      </tbody>
    </table>
  </div>

  <hr>

  <div class="comments">
    <div class="commentHeader">
      <p><span class="fontUp">Uwagi:</span></p>
    </div>
    <div class="commentContent">
      <p>{{ invoice.comments }}</p>
      <p><span class="commentAdd">Sprzedawca zwolniony podmiotowo z podatku od towarów i usług.
        Dostawa towarów lub świadczenie usług zwolnione na podstawie art. 113 ust. 1 (albo ust. 9)
        ustawy z dnia 11 marca 2004 o podatku od towarów i usług (Dz. U. Z 2011r. Nr 177 poz. 1054 z późn.
        Zmianami).</span>
      </p>
    </div>
  </div>

  <hr>

  <div class="summary">
    <div class="summaryHeader">
      <p><span class="fontUp">Do zapłaty:</span></p>
    </div>
    <div class="summaryContent">
      <p>{{ invoice.invoice_sum }}zł</p>
      <p>Słownie: {{ zlotowki }} zł {{ grosze }} gr</p>
    </div>
  </div>

  <div class="signature">
    <p>Imię i nazwisko:</p>
    {{invoice.sign}}
  </div>



</body>
</html>