{% extends 'invoices/base.html' %}
{% load widget_tweaks %}

{% block title %}{{invoice.invoice_number}}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Nowa  faktura</li>
{% endblock %}

{% block content %}

<div class="row mb-3">
  <div class="col-12 col-lg-9 col-xl-10">
    <form action="{% url 'invoice:new_invoice' %}" method="post">{% csrf_token %}
      {% for field in form_invoice %}
      {% if field.label == 'Uwagi' %}
        <hr>
          {{ formset_item.management_form }}
          {% for form in formset_item.forms %}
          <div class="row mb-2 mt-2">
            <div class="col-12 col-sm-12 col-md-5">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="far fa-edit"></i>
                  </span>
                </div>
                {{ form.product|add_class:"form-control" }}
              </div>

            </div>
            <div class="col-6 col-sm-3 col-md-2">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <strong>+/-</strong>
                  </span>
                </div>
                {{ form.quantity|add_class:"form-control" }}
              </div>
            </div>
            <div class="col-6 col-sm-3 col-md-2">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-dollar-sign"></i>
                  </span>
                </div>
                {{ form.price|add_class:"form-control" }}
              </div>
            </div>
            <div class="col-6 col-sm-5 col-md-2">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <small>Jedn.</small>
                  </span>
                </div>
                {{ form.unit|add_class:"form-control" }}
              </div>
            </div>
            {% if formset_item.can_delete%}
            <div class="col-6 col-sm-1 col-md-1 form-check">
              {{ form.DELETE|add_class:"form-check-input" }}
              <label class="form-check-label">
                <i class="far fa-trash-alt"></i>
              </label>
            </div>
            {% endif %}
          </div>
        {% endfor %}

      {% endif %}
      <div class="form-group row">
        <label class="col-12 col-md-4 col-lg-3 col-xl-2 col-form-label">{{field.label}}</label>
        <div class="col-12 col-md-8 col-lg-7 col-xl-6">
          {{ field|add_class:"form-control" }}
        </div>
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Zapisz</button>
    </form>

  </div>
</div>

{% endblock %}