{% load staticfiles %}
<!doctype html>
<html lang="pl">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light d-print-none">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/" class="nav-link"><i class="fas fa-home fa-2x"></i></a>
        </li>
        <li class="nav-item">
          <a href="{% url 'invoice:new_invoice' %}" class="nav-link">Nowa faktura</a>
        </li>
        {% block nav %}
        {% endblock %}
      </ul>
      <span class="navbar-text">
        {% if request.user.is_authenticated %}
        Witaj, {{ request.user.first_name }}!
        <a href="{% url 'account:user_logout' %}" class="btn btn-light">Wyloguj</a>
        {% else %}
        <a href="{% url 'account:user_login' %}" class="btn btn-light">Zaloguj</a>
        {% endif %}
      </span>
    </div>
  </nav>

  <div class="container-fluid" style="padding-top:50px;">

    {% block content %}
    {% endblock %}

    <div class="row d-print-none">
      <div class="col">
        <hr>
        <p class="text-center"><small class="text-muted">Aplikacja napisana przy użyciu Django v2.1 i Bootstrap v4</small></p>
      </div>
    </div>

  </div><!--end container-fluid-->

  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="http://cdn.intercoolerjs.org/intercooler-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>
      var csrftoken = $.cookie('csrftoken');
      $.ajaxSetup({
        headers: { "X-CSRFToken": csrftoken }
      });
      $( document ).ready(function() {
        {% block skrypty %}
        {% endblock %}
      });
    </script>
    {% block js_script %}
    {% endblock %}
</body>

</html>